## Steam Games Recommender System EDA

### Import Libraries

In [20]:
import zipfile
import pandas as pd

In [28]:
games_zip_path = 'data/games.csv.zip'
recommendations_zip_path = 'data/recommendations.csv.zip'
users_zip_path = 'data/users.csv.zip'

games_csv_filename = 'games.csv'  
recommendations_csv_filename = 'recommendations.csv'  
users_csv_filename = 'users.csv'

### Games CSV File EDA

In [25]:
# Open the games zip file
with zipfile.ZipFile(games_zip_path) as z:
    with z.open(games_csv_filename) as f:
        games_df = pd.read_csv(f)

games_df.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True

In [26]:
print(games_df.columns)
print(games_df.shape)

Index(['app_id', 'title', 'date_release', 'win', 'mac', 'linux', 'rating',
       'positive_ratio', 'user_reviews', 'price_final', 'price_original',
       'discount', 'steam_deck'],
      dtype='object')
(50872, 13)

### Users CSV File EDA

In [29]:
# Open the games zip file
with zipfile.ZipFile(users_zip_path) as z:
    with z.open(users_csv_filename) as f:
        users_df = pd.read_csv(f)

users_df.head()

    user_id  products  reviews
0   7360263       359        0
1  14020781       156        1
2   8762579       329        4
3   4820647       176        4
4   5167327        98        2

In [30]:
print(users_df.columns)
print(users_df.shape)

Index(['user_id', 'products', 'reviews'], dtype='object')
(14306064, 3)

### Recommendations CSV File EDA

In [31]:
# Open the games zip file
with zipfile.ZipFile(recommendations_zip_path) as z:
    with z.open(recommendations_csv_filename) as f:
        recommendations_df = pd.read_csv(f)

recommendations_df.head()

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
0,975370,0,0,2022-12-12,True,36.3,51580,0
1,304390,4,0,2017-02-17,False,11.5,2586,1
2,1085660,2,0,2019-11-17,True,336.5,253880,2
3,703080,0,0,2022-09-23,True,27.4,259432,3
4,526870,0,0,2021-01-10,True,7.9,23869,4

In [32]:
print(recommendations_df.columns)
print(recommendations_df.shape)

Index(['app_id', 'helpful', 'funny', 'date', 'is_recommended', 'hours',
       'user_id', 'review_id'],
      dtype='object')
(41154794, 8)